@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  /* https://css-tricks.com/perfect-full-page-background-image/ */
  background: url(https://source.unsplash.com/random/?3d-renders) no-repeat
    center center fixed;
  background-color: #000;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.container {
  backdrop-filter: blur(0.25rem);
  border-radius: 1.5rem;
  border: 0.063rem solid #ccc;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 18rem;
  z-index: 10;
}

.screen {
  background-color: gray;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border: none;
  color: white;
  font-size: 3rem;
  height: 5rem;
  padding-left: 0.625rem;
  padding-right: 1.25rem;
  text-align: right;
  width: 100%;
  z-index: 30;
}

button {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 1.5rem;
  border: 0.063rem solid #ddd;
  color: #eee;
  font-size: 2rem;
  height: 4rem;
  z-index: 20;
}

button:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
}

button:active {
  background-color: rgba(186, 186, 186, 0.4);
}

.all-clear:hover {
  background-color: rgba(241, 115, 119, 0.4);
}

.equal-sign {
  grid-area: 2/ 4/ 6/ 5;
  height: 100%;
}

.equal-sign:hover {
  background-color: rgba(78, 159, 212, 0.4);
}

.operator:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

.keys {
  display: grid;
  grid-gap: 0.625rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.625rem;
  z-index: 30;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media screen and (min-width: 768px) {
  button {
    border-radius: 2rem;
    font-size: 3.75rem;
    height: 6rem;
  }

  .container {
    border-radius: 1.5rem;
    border: 0.063rem solid #ccc;
    height: 40rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 28rem;
  }

  .screen {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    font-size: 4.5rem;
    height: 6rem;
    padding-left: 0.75rem;
    padding-right: 1.5rem;
    text-align: right;
    width: 100%;
    z-index: 30;
  }
}
